@import "tailwindcss";
@theme {
    --font-poppins: Poppins, sans-serif;
    --color-standard: #181818;
    --color-branding: #4284f5;
    --color-txt: #ffffff;
    --radius-5xl: 26px; 
    --color-primary: #1e1f20;
}